<div class="card" ng-hide="edit" ng-click="edit=true">
    <h4>{{ vm.card.title }}</h4>
    <span class="description">{{ vm.card.description }}</span>
    Points: {{ vm.card.storyPoints }}, value: {{ vm.card.businessValue }}
</div>

<div class="card" ng-show="edit"
    ng-model-options="vm.modelOptions">
    <div class="flex">
        <label><strong>Title:&nbsp;</strong></label>
        <input type="text"
               ng-model="vm.card.title"
               ng-change="vm.update()" />
    </div>
    <textarea ng-model="vm.card.description"
              ng-change="vm.update()"
              placeholder="Enter description.." ></textarea>

    <div class="buttons">
        <span class="move-inputs">
            <label>List: </label>
            <select ng-options="list as list.name for list in vm.project._embedded.lists"
                    ng-model="vm.destList"></select>
            <button ng-click="vm.move()">Move</button>
        </span>
    </div>

    <hr class="clear">

    <div class="close-delete-inputs">
        <button ng-click="edit=false">Close</button>
        <button ng-click="vm.remove()">Delete Card</button>
    </div>

    <span class="clear">&nbsp</span>
</div>
