<div>
    <h3>Projects for user {{ vm.user.username }}</h3>
    <ul>
        <li ng-repeat="project in vm.data">
            <a href="#/project/{{project.id}}">{{ project.name }}</a>
        </li>
    </ul>

    <div ng-show="!vm.data.length">User has no projects.</div>
</div>