<div>
    <h3 id="project-name">{{ vm.project.name }}</h3>
</div>
<div class="list" ng-repeat="list in vm.project._embedded.lists">
    <h3>{{ list.name }}</h3>

    <ul>
        <li ng-repeat="card in list.cards">
            <scrumboard-card 
            card="card" list="list" project="vm.project">
            </scrumboard-card>
        </li>
    </ul>
    <div class="flex">
        <input type="text" ng-model="new_title" />
        <button ng-click="vm.add(list, new_title)">+</button>
    </div>
</div>

