<div id="user-logged-in" ng-show="vm.loggedIn">
    You are logged in as {{ vm.username }}. <button ng-click="vm.logout()">Log out</button>
</div>

<div class="show-loggedout" ng-hide="vm.loggedIn">
    Please login.
</div>