html {
    font-size: 1em;
    line-height: 1.4;
}

.list {
    width: 20%;
    float: left;
    border: 1px solid grey;
    padding: 7px;
    margin: 7px;
    background-color: #2A9FBC;
}

.list h3 {
    padding-left: 7px;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

.card {
    cursor: pointer;
    background-color: #404040;
    padding: 7px;
    margin: 7px 0px;
    color: white;
}

.card h4 {
    margin: 0px;
}

.description {
    color: lightgray;
}

.flex {
  display: flex;
}

.flex input {
  flex-grow: 2;
}

.flex button {
  flex-basis: auto;
}

.card button,
.card input,
.card textarea {
    color: #404040;
    margin: 2px 0px;
}

.card textarea {
    width: 100%;
    resize: vertical;
}

#user-logged-in {
    float: right;
}

#project-name {
    color: #404040;
    font-family: sans-serif;
    margin-left: 21px;
}

.list-sort {
    color: white;
    margin: 0px 7px 0px 7px;
}

.move-inputs, .close-delete-inputs {
    float: right;
}

.buttons {
    margin-top: 2px;
}

.clear {
    clear: both;
}